.board{
    outline: 2px solid rgb(134, 154, 189);
}

.row{
    height: 40px;
}

.cell{
    width: 40px;
    height: 40px;
    /* outline: 1px solid rgb(134, 154, 189); */
    border-radius: 50%;
    display: inline-block;
}

.scoreTag{
  margin-top: 3px;
  margin-bottom: 8px;
}

.snakeCell{
    background-color: green;
}

.foodCell{
    background-color: red;
}

.reverseCell{
    background-color: purple;
}

.head{
  background-color: darkgreen;
}