.board{
    margin-top: 30px;
    outline: 2px solid darkgreen;
}

.row{
    height: 35px;
}

.cell{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    /* outline: 1px solid rgb(134, 154, 189); */
    border-radius: 50%;
    /* background-color: lightgreen; */
    display: inline-block;
}
.circle{
    /* border-radius: 50%; */
    background-color: lightgreen;
}

.scoreTag{
  margin-top: 3px;
  margin-bottom: 8px;
  font-size: 45px;
  color: var(--font-color);
}

.snakeCell{
    /* background-color: #2a81de; */
    background-color: #2577cf;
}

.foodCell{
    background-color: green;
}

.reverseCell{
    background-color: purple;
}

.head{
  background-color: #242526;
}